<!--- cache main menu in ColdFusion application scoped query
force recache by adding ?refreshmenu=1 to any url --->

<!--- read menu from html file --->
<cfset qmenu = querynew("level,link,text")>
<cfset level =2>
<cfloop file = "#application.menusourcefile#" index="line">
	<cfif left(line,4) is "<!--">
    	<cfcontinue>
    </cfif>
    <cfif line contains "column>">
    	<!--- new level 1 menu choice --->
        <cfset level = "1">
    	<cfcontinue>
    </cfif>
    <cfset queryaddrow(qmenu,1)>
    <cfset querysetcell(qmenu,"level",level,qmenu.recordcount)>
    <cfset querysetcell(qmenu,"link",listfirst(line,";"),qmenu.recordcount)>
    <cfset querysetcell(qmenu,"text",listlast(line,";"),qmenu.recordcount)>    <cfif level is 1>
    	<cfset level = 2>
    </cfif>
</cfloop>

	<cfdump var="#qmenu#">