<cfoutput>
<script type="text/javascript">var _baLocale = 'us', _baUseCookies = true, _baMode = '<p>Listen with BrowseAloud</p>', _baHiddenMode = false, _baHideOnLoad = false;</script>
<script type="text/javascript" src="//www.browsealoud.com/plus/scripts/ba.js"></script>
</cfoutput>