<!--one menu choice per line, separate link and text with semicolon-->
<!--each menu delimited by <column> tags -->
<column>
/service/index.cfm;Service
/service/rail.cfm;Rail
/service/bus.cfm;Bus
/service/alerts_and_advisories.cfm;Alerts and Advisories
/service/accessibility.cfm;Accessibility
/service/bikes.cfm;Bikes
/service/parking.cfm;Parking
;Car Sharing
;Guaranteed Ride Home
;Regional Transportation
</column>
<column>
/schedules/index.cfm;Shedules
;Timetables
;Next Bus
;Maps
;Trip Planner
;Service Nearby
;Third Party Apps
</column>
<column>
/riderguides/index.cfm;Rider Guides
;New Riders
;Airport & Rail Access
;Events & Venues
;Stations
;Transfers
;Getting to & from Metro
;Travelling with Kids
;Safety and Security
;Lost & Found  
</column>
<column>
/fares/index.cfm;Fares
;Basic Fares
;Discount and Reduced Fares
;Payment Options
;Buy Online
;Sales Locations
;Card Replacements & Refunds
</column>
<column>
/initiatives/index.cfm;Initiatives
;Momentum
;Community Research
;Planning Activities
;Bus Projects
;Rail Projects
;Station Projects
;Accessibility Projects
;Case for Transit
;Real Estate
;Capital Needs
</column>
<column>
/about/index.cfm;About
/about/leadership.cfm;Leadership
/about/board.cfm;Board 
/about/history.cfm;History
/about/vision.cfm;Vision
/about/newsroom.cfm;Newsroom
/about/events.cfm;Upcoming Events
/about/metro_gifts.cfm;Metro Gifts
/about/careers.cfm;Careers
/about/transit_police.cfm;Transit Police
/about/inspector_general.cfm;Inspector General
</column>
